<!doctype html>
<html>
    <head>
        <title>dimini.</title>
        <style>
            body {
                margin: 0;
                padding: 0;
            }

            img {
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                object-fit: fill;
            }
        </style>
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.ico') }}"
        />
    </head>
    <body>
        <img src="/static/assets/dimini.jpg" alt="dimini171" />
        <!-- nya -->
        <footer>
            <h1>meow</h1>
            <p>congrats you found the secret footer</p>
        </footer>
    </body>
</html>
