<!DOCTYPE html>

<!-- TODO: add hints for scrollables -->
<!-- TODO: make fab disappear/dock onto the footer -->
<!-- TODO: join hack club circle -->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>meow</title>

        <script type="module" src="https://cdn.jsdelivr.net/npm/@material/web@latest"></script>
        <script src="static/script.js"></script>

        <link rel="stylesheet" href="static/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=arrow_upward" />
    </head>
    <body>
        <header id="top">
            <h1>Hello, I'm Natalie!</h1>
            <p>ˈnæ əli - she/her - high school student</p>
        </header>

        <nav>
            <div class="nav-links">
                <a href="#about",>about</a>
                <a href="#projects">projects</a>
                <a href="#skills">skills</a>
                <a href="#achievements">achievements</a>
                <a href="#setup">setup</a>
                <a href="#contact">contact</a>
            </div>
        </nav>

        <section id="about">
            <h2>short introduction</h2>
            <p>helloo!!! my name is Natalie. i am a 15 year old studying computing at SST, Singapore</p>
            <p>occasionally, i participate in ctf's with my friends for fun (feel free to hmu if you want to team)</p>
            <p>i'm interested in cybersecurity and wish to pursue a career in it in the future. </p>
            <p>most of my projects are just small programs that i use to learn or practice things</p>
            <p></p>
        </section>

        <section id="skills">
            <h2>skills</h2>
            <p>i am proficient in python</p>
            <p>i know a bit of web dev, jetpack compose and swiftui</p>
            <p>i am decent at CTF competitions</p>
        </section>

        <section id="achievements">
            <h2>my achievements</h2>
            <p>i have participated in many ctfs, including:</p>
            <ul>
                <li><a href="" target="_blank" rel="noopener noreferrer">YBN CTF</a></li>
                <li><a href="" target="_blank" rel="noopener noreferrer">YCEP CTF</a></li>
                <li><a href="" target="_blank" rel="noopener noreferrer">YCEP Central CTF</a></li>
            </ul>
            <p>i have achieved silver and multiple bronze in <a href="http://sasmo.sg" target="_blank" rel="noopener noreferrer">SASMO</a></p>
        </section>

        <section id="projects">
            <a href="/projects">
                <h2>some of my projects</h2>
            </a>
            <div class="cardlist">
                {% for project in projects %}
                <div class="card">
                    <h3>{{ project.name }}</h3>
                    <p>{{ project.description }}</p>
                    {% for link in project.links %}
                        <a href="{{ link.url }}" target="_blank">{{ link.label }}</a>
                        <br>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </section>

        <section id="setup">
            <h2>my setup</h2>
            <p>👩‍💻 <a href="https://support.apple.com/kb/SP825?locale=en_SG" target="_blank" rel="noopener noreferrer">m1 macbook air (late 2020)</a>  8gb/256gb dual booting <a href="http://alx.to" target="_blank" rel="noopener noreferrer">asahi fedora</a> and macos for everything</p>
            <p>💻 <a href="https://www.kali.org/" target="_blank" rel="noopener noreferrer">kali linux</a> on <a href="https://getutm.app/" target="_blank" rel="noopener noreferrer">utm</a> for ctf competitions</p>
            <p>💻 <a href="https://getwhisky.app/" target="_blank" rel="noopener noreferrer">whiskey</a> to run .exes and games</p>
            <p>📱 <a href="https://www.gsmarena.com/google_pixel_8-12546.php" target="_blank" rel="noopener noreferrer">rose google pixel 8</a> 128gb running <a href="https://github.com/RisingTechOSS/android" target="_blank" rel="noopener noreferrer">RisingOS</a></p>
            <p>🎶 <a href="https://www.gsmarena.com/lg_v30-8712.php#us998" target="_blank" rel="noopener noreferrer">aurora black lg v30+ (ntt docomo)</a> running stock us99820e firmware for music</p>
            <p>🎧 <a href="https://moondroplab.com/en/products/nekocake" target="_blank" rel="noopener noreferrer">moondrop nekocake (qbz191 collab)</a> for my pixel</p>
            <p>🎧 <a href="https://kz-audio.com/kz-zsn-pro-2.html" target="_blank" rel="noopener noreferrer">kz zsn pro 2</a> for music on my lg v30+</p>

        </section>

        <section id="contact">
            <h2>contact me</h2>
            <p>please contact me using either of the following: </p>
            <ul>
                <li>email: <a href="mailto:ellipticobj@gmail.com" style="color: var(--accent1_500)" rel="noopener noreferrer">ellipticobj@gmail.com</a></li>
                <li>SMS/<a href="https://wa.link/9gh6go" rel="noopener noreferrer">WhatsApp</a>: +65 8048 7473</li>
            </ul>
        </section>

        <footer>
            <div class="social-links">
                <h2>follow me</h2>
                <a href="https://github.com/ellipticobj" target="_blank" rel="noopener noreferrer">Github</a>
                <a href="https://www.twitter.com/ellipticobj" target="_blank" rel="noopener noreferrer">Twitter</a>
                <a href="https://www.instagram.com/ellipticobjs" target="_blank" rel="noopener noreferrer">Instagram</a>
                <a href="https://fxg.bsky.social" target="_blank" rel="noopener noreferrer">Bluesky</a>
                <a href="http://t.me/ellipticobj" target="_blank" rel="noopener noreferrer">Telegram</a>
                <a href="http://discordapp.com/users/973943523655164032" target="_blank" rel="noopener noreferrer">Discord</a>
                <a href="http://steamcommunity.com/id/ellipticobj" target="_blank" rel="noopener noreferrer">Steam</a>
                <a href="http://anilist.co/user/ellipticobj" target="_blank" rel="noopener noreferrer">Anilist</a>
                <a href="http://last.fm/user/ellipticobj" target="_blank" rel="noopener noreferrer">last.fm</a>
            </div>
        </footer>

        <button id="fab" aria-label="back to top">
            <span class="material-symbols-outlined">
                arrow_upward
                </span>
        </button>

        <script>
            const fab = document.getElementById('fab');
            fab.addEventListener('click', () => {
                window.scrollTo({
                    top: 0,
                    behavior: 'smooth'
                });
            });

            window.addEventListener('scroll', () => {
                if (window.scrollY > 1) {
                    fab.classList.add('visible');
                } else {
                    fab.classList.remove('visible');
                }
            });

            fab.classList.remove('visible');
            console.log('script.js loaded');
        </script>
    </body>
</html>


