<!DOCTYPE html>
<html>
    <head>
        <title>shell test</title>
        <link rel="stylesheet" href="/static/styles.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/codemirror.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/codemirror.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/mode/python/python.min.js"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm/css/xterm.css">
        <script src="https://cdn.jsdelivr.net/npm/xterm/lib/xterm.js"></script>
        
        <script src="https://cdn.socket.io/4.5.1/socket.io.min.js"></script>
    </head>
    <body>
        <textarea id="codeViewer"></textarea>
        <div id="terminal" style="height: 300px; width: 80%"></div>
 
        <!-- test code for now, will use jinja for different projects soon  -->
        <script>
            const socket = io('http://127.0.0.1:7272/shells')
            const term = new Terminal();
            term.open(document.getElementById('terminal'));

            const editor = CodeMirror.fromTextArea(document.getElementById('codeViewer'), {
                mode: "python",
                theme: "default", 
                lineNumbers: true,
                readOnly: true
            });

            term.onData(data => {
                socket.emit('input', data);
            });

            socket.on('output', (msg) => {
                term.write(msg.data);

                if (!msg.data.endsWith('$ ')) {
                    term.write('\n$ ');
                }
            });

            socket.on('disconnect', () => {
                term.write('\r\n[disconnected from server]\r\n');
            })

            fetch('/getcode?file=example.py')
                .then(response => {
                    if (response.ok) {
                        return response.text();
                    } else {
                        throw new Error('Failed to load file: ' + response.status);
                    }
                })
                .then(code => {
                    editor.setValue(code);
                })
                .catch(error => {
                    console.error('Error loading code:', error);
                    editor.setValue('// Failed to load file.');
                });
        </script>
    </body>
</html>